.descricaoUsuario {
    display: flex;
    flex-direction: column;
    height: 90%;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.fotoDePerfilUsuario {
    display: flex;
    box-sizing: border-box;
    width: 16vh;
    height: 16vh;
    background: rgba(241, 0, 0, 0.87);
    border: 0.4vw solid black;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 400%;
    font-weight: bold;
    color: black;
}

.nomeUsuario {
    display: flex;
    box-sizing: border-box;
    width: max-content;
    padding: 5%;
    height: 6vh;
    border: 1px solid #FEFEFE;
    border-radius: 25px;
    align-items: center;
    justify-content: space-around;
    font-size: 200%;
}

.botaoCriar {
    padding: 5%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #FEFEFE;
    border-radius: 25px;
    height: 12vh;
    width: max-content;
    background-color: transparent;
    font-size: 150%;
    cursor: pointer;
}

.botaoCriar:hover{
    background: #22285F;
    color:white;
}
