.feed {
    display: flex;
    align-items: flex-end;
    margin: 6vh;
    padding: 5vh;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

.historiaEmDestaque {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.anuncioHistoriaEmDestaque {
    display: flex;
    box-sizing: border-box;
    width: 20vw;
    height: 5vh;
    background: #60A3C0;
    border: 1px solid #FEFEFE;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
}

.fotoDestaque {
    display: flex;
    margin-top: 5vh;
    width: 46.2vw;
    height: 22vw;
    border-radius: 20px;
    cursor: pointer;
}

.tituloHistoria {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 4vw;
    width: 40vw;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #482758;
    font-size: 4vh;
    cursor: pointer;
    font-weight: 500;
}

.descricaoHistoria {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 18vw;
    width: 40vw;
    padding-left: 5vw;
    padding-right: 5vw;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: linear-gradient(180deg, #60A3C0 0%, #71587C 51.04%, rgba(35, 44, 128, 0.994792) 100%);
    font-size: 3vh;
    border: 1px solid #FEFEFE;
    border-top: 0;
}

.autorEAvaliacao {
    display: flex;
    width: 30vw;
    height: 5vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.avaliacao {
    display: flex;
}