.tituloHistoriaTimeline {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 2vw;
    width: 20vw;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #482758;
    font-size: 120%;
    cursor: pointer;
    font-weight: bold;
}

.descricaoHistoriaTimeline {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 9vw;
    width: 20vw;
    padding-left: 5vw;
    padding-right: 5vw;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: linear-gradient(180deg, #60A3C0 0%, #71587C 51.04%, rgba(35, 44, 128, 0.994792) 100%);
    font-size: 100%;
    border: 1px solid #FEFEFE;
    border-top: 0;
}

.autorEAvaliacaoTimeline {
    display: flex;
    width: 15vw;
    height: 2.5vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.avaliacaoTimeline {
    display: flex;
}